.PostContainer{
    /* margin-top: 2.75rem; */
    margin-bottom: 2.75rem;
  }
  
  .PostWrapper{
    margin-left: 4.5rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.75rem;
  }
  
  .UserImgPost{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    }

  .PostCommunityUser{
    display: flex;
    flex-direction: row;
    gap:5px;
    margin-top: 0.5rem;
    .CommunityP{
      font-weight: bold;
    }
  }
  
  .PostImage{
    margin-bottom: 1rem;
    .PostImg{
      max-width: 14rem;
      max-height: 12rem;
    }
  }
  .PostLink{
    border: 1px gainsboro solid;
    border-radius: 0.25rem;
    a{
      margin-left: 0.5rem;
    }
    span{
      margin-left: 0.5rem;
    }
  }
  
  .Buttons{
    button{
      border: 1px solid rgb(156, 156, 156);
      &:hover{
        border: 1px solid rgb(156, 156, 156);
        background-color: #dddddd;
      }
    }
    .btn{
      --bs-btn-disabled-opacity: 1.0;
    }
    .btn:disabled{
      border: 1px solid rgb(156, 156, 156);
    }
    a{
      text-decoration: none;
      color: black;
      :hover{
        color: black;
        text-decoration: none;
      }
    }
  }
  
  .btn-spacing {
    margin-right: 10px; /* Agrega un espacio a la derecha de cada botón */
  }
  
  